---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import Hero from "../../components/Hero.astro";
import ProductCard from "../../components/ProductCard.astro";
import CollectionCard from "../../components/CollectionCard.astro";
import Footer from "../../components/Footer.astro";
import request from "graphql-request";

import { graphql } from "gql.tada";

const ProductsList = graphql(`
  query {
    products(options: { skip: 0, take: 10 }) {
      items {
        id
        name
      }
    }
  }
`);

const data = await request("https://api.pinelab.studio/shop-api", ProductsList);
---

<BaseLayout title="Astro">
  <Navigation />

  <Hero
    image="https://images.unsplash.com/photo-1556695736-d287caebc48e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    title="New arrivals are here"
    description="The new arrivals have, well, newly arrived. Check out the latest options from our summer small-batch release while they're still in stock."
    buttonText="Shop New Arrivals"
    buttonHref="#"
  />

  <main>
    <!-- Category section -->
    <section
      aria-labelledby="category-heading"
      class="overflow-hidden pt-24 sm:pt-32 xl:mx-auto xl:max-w-7xl xl:px-8"
    >
      <h2 id="category-heading" class="text-2xl font-bold tracking-tight">
        Popular products
      </h2>

      <div
        class="carousel carousel-center mt-4 gap-4 px-4 py-2 xl:grid xl:grid-cols-4 xl:gap-x-8 xl:px-0"
      >
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1622260614153-03223fb72052?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="New Arrivals"
          price="€ 100"
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1547949003-9792a18a2601?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Productivity"
          price="€ 100"
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1622260614153-03223fb72052?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Workspace"
          price="€ 100"
        />
        <ProductCard
          href="#"
          image="https://images.unsplash.com/photo-1547949003-9792a18a2601?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Accessories"
          price="€ 100"
        />
      </div>

      <div class="mt-6 px-4 sm:hidden">
        <a href="#" class="link link-primary"
          >Browse all products <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </section>

    <!-- Collection section -->
    <section
      aria-labelledby="collection-heading"
      class="mx-auto max-w-xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
    >
      <h2 id="collection-heading" class="text-2xl font-bold tracking-tight">
        Shop by Collection
      </h2>
      <p class="mt-4 text-base opacity-70">
        Each season, we collaborate with world-class designers to create a
        collection inspired by the natural world.
      </p>

      <div class="mt-10 grid gap-8 lg:grid-cols-3">
        <CollectionCard
          href="#"
          image="https://images.unsplash.com/photo-1502666308545-76d8a0c5602f?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Subway kits"
          description="Everything you need <br/> to beautify a subway train."
        />
        <CollectionCard
          href="#"
          image="https://images.unsplash.com/photo-1523395555535-a43123287dbc?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Tunnel syndrome"
          description="Explore the tunnels with our <br/> tunnel exploring stuff."
        />
        <CollectionCard
          href="#"
          image="https://images.unsplash.com/photo-1622057656693-48797b659baa?q=80&w=842&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          title="Worker Bees"
          description="Everything you need to <br/> pretend to be a worker."
        />
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>
