@import "@fontsource/sen/latin-400.css";
@import "@fontsource/sen/latin-500.css";
@import "@fontsource/sen/latin-600.css";
@import "@fontsource/sen/latin-700.css";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  font-family: "Sen", sans-serif;
}


body {
  overflow-x: clip; /* clip hides overflow without breaking position:sticky on mobile */
}

/* Mobile menu toggle */
#mobile-sidebar {
  transform: translateX(-100%);
}
#mobile-menu:checked ~ #mobile-overlay {
  display: block;
}
#mobile-menu:checked ~ #mobile-sidebar {
  transform: translateX(0);
}

@plugin "daisyui/theme" {
  name: "minimal";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(0.9167 0.1491 119.91);
  /* --color-primary: #F39200; */
  --color-primary-content: oklch(26% 0 0);
  --color-secondary: oklch(87% 0 0);
  --color-secondary-content: oklch(26% 0 0);
  --color-accent: oklch(87% 0 0);
  --color-accent-content: oklch(26% 0 0);
  --color-neutral:oklch(0.26 0.0063 78.22);
  --color-neutral-content: oklch(1 0 none);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(43% 0.095 166.913);
  --color-success-content: oklch(90% 0.093 164.15);
  --color-warning: oklch(47% 0.137 46.201);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 0.50rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.3rem;
  --border: 0px;
  --depth: 0;
  --noise: 0;
}

  