---
---

<footer class="bg-neutral text-neutral-content">
  <div class="footer mx-auto grid max-w-7xl grid-cols-2 gap-x-6 gap-y-10 p-10 md:footer-horizontal md:grid-cols-4">
    <nav>
      <h6 class="footer-title">Shop</h6>
      <a class="link link-hover">Bags</a>
      <a class="link link-hover">Tees</a>
      <a class="link link-hover">Objects</a>
      <a class="link link-hover">Home Goods</a>
      <a class="link link-hover">Accessories</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">Who we are</a>
      <a class="link link-hover">Sustainability</a>
      <a class="link link-hover">Press</a>
      <a class="link link-hover">Careers</a>
      <a class="link link-hover">Terms &amp; Conditions</a>
      <a class="link link-hover">Privacy</a>
    </nav>
    <nav>
      <h6 class="footer-title">Account</h6>
      <a class="link link-hover">Manage Account</a>
      <a class="link link-hover">Returns &amp; Exchanges</a>
      <a class="link link-hover">Redeem a Gift Card</a>
    </nav>
    <nav>
      <h6 class="footer-title">Connect</h6>
      <a class="link link-hover">Contact Us</a>
      <a class="link link-hover">Facebook</a>
      <a class="link link-hover">Instagram</a>
      <a class="link link-hover">Pinterest</a>
    </nav>
  </div>
  <div class="border-neutral-content/20 border-t px-4 py-10">
    <p class="text-neutral-content/60 text-center text-sm">Copyright &copy; 2021 Your Company, Inc.</p>
  </div>
</footer>
